/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{
    font-weight:bold;
   }

.container {
    display: grid;
    grid-template: "sidebar header" "sidebar body";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

}

.header {
    grid-area: header;
    display: grid;
    grid-template: "row1" "row2";
    grid-template-rows: 1fr 1fr;

}

.row1 {
    grid-area: row1;
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
}

.search {
    display: flex;
    gap: 20px;
    margin-left: 3vh;
}

input {
    width: 50vw;
    border-radius: 2vh;
    height: 2vh;
    background: rgb(242, 239, 239);
}

img.user {
    height: 4vh;
    border-radius: 50px;
}

.profile {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-right: 2vw;
}

p.profile {
    width: 5vw;
}

p.name {
    font-size: 32px;
}

.row2 {
    grid-area: row2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.greeting {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

img.greeting {
    height: 7vh;
    border-radius: 50px;
}

div.list {
    display: flex;
    align-items: center;
}

button {
    width: 10vh;
    height: 4vh;
    border-radius: 20px;
    background-color: rgb(66, 66, 241);
    color: white;
    font-size: 16px;
    border: none;
}

ul.list {
    display: flex;
    gap: 20px;
    margin-right: 5vh;
}

.body {
    grid-area: body;
    background: rgb(242, 239, 239);
    display: grid;
    grid-template: "projects annoucements"
    "projects trending";
    grid-template-columns: 3fr 1fr;
}

.sidebar {
    background-color: rgb(66, 66, 241);
    color: white;
    font-size: 3vh;
    grid-area: sidebar;
    display: grid;
    grid-template: "logo" "options" "support" ".";
    grid-template-rows: 1fr 2fr 2fr 3fr;

}

.projects {
    grid-area: projects;
}

.annoucements {
    grid-area: annoucements;
    display: grid;
    grid-template-rows: 1fr 10fr;
    margin-top: 4vh;
}

p.annoucement {
    font-size: 24px;
    font-weight: bold;
}

div.an-container {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-right: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.annoucement {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    line-height: 15px;
}

div.annoucement- {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 15px;
}

p.title {
    font-size: 18px;
}

.trending {
    grid-area: trending;
    display: flex;
    align-items: center;
    gap: 20px;
}

div.trendings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-right: 3vh;
}

div.trend-container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
    gap: 20px;
}

div.logo {
    grid-area: logo;
    align-self: center;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    gap: 15px;
}

div.options {
    grid-area: options;
    align-self: center;
}

div.support {
    grid-area: support;
    align-self: center;
}

ul.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul.support {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li.options,
li.support {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 2vw;
}

div.logo>p {
    font-size: 4vh;
}

i#logo {
    font-size: 4vh;
}

img.friend {
    height: 5vh;
    border-radius: 50px;
}

div.trend-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

